/* pc */
@media (min-width: 769px) {
  .default {
    width: var(--innerSpace);
    margin: 0 auto;
    padding: var(--layoutSpace) 0;
  }
  .header {
    composes: default;
    padding: 0;
  }
}

/* sp */
@media (max-width: 768px) {
  .default {
    margin: 0 auto;
    padding:  var(--layoutSpace) var(--innerSpace) var(--layoutSpace);
  }
  .header {
    composes: default;
    padding: 0 var(--innerSpace);
  }
}
