/* pc */
@media (min-width: 769px) {
  .stack > * + * {
    margin-top: 1em;
  }
  .heading {
    font-size: var(--medium);
    font-weight: 700;
  }
}

/* sp */
@media (max-width: 768px) {
  .stack {
    margin-top: var(--contentSpace);
  }
  .stack > * + * {
    margin-top: 1em;
  }
  .heading {
    font-size: var(--ttl02);
    font-weight: 700;
  }
}

