/* pc */
@media (min-width: 769px) {
  .wrapper {
    margin-top: min(var(--compPc) * 90, 90px);
    padding: min(var(--compPc) * 80, 80px) 0;
    background-color: var(--gray-10);
  }
  .flexContainer {
    composes: sideBySideCenter from './utils.module.css';
    gap: 2em;
  }
}
