/* pc */
@media (min-width: 769px) {
  .wrapper {
    background-color: var(--grayLight);
  }
  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
  }
}

/* sp */
@media (max-width: 768px) {
  .wrapper {
    background-color: var(--grayLight);
  }
}
