/* custom */
:root {
  /* リキッドの数値（vw） = 現在の画面幅の100%の数値（vw） / カンプの横幅（基準値）* カンプの対象の数値 */
  /* comp */
  --compSp: 100vw / 375;
  --compPc: 100vw / 1440;
  /* color */
  --subColor: #DCF8C4;
  --mainColor: #43964A;
  --white: #ffffff;
  --gray-10: #eee;
  --gray-25: #aaa;
  --gray-50: #707070;
  --gray-75: #444;
  --black: #333;
  /* fontSize */
}

/* base */
body {
  color: var(--black);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 400;
  overflow-x: hidden;
  word-break: break-all;
  letter-spacing: .02em;
  line-height: 1;
}
img {
  display: block;
  max-width :100%;
	width: 100%;
	object-fit: cover;
}
picture {
  display: block;
}
a:hover {
  opacity: .8;
  transition: opacity .3s;
}

/* pc */
@media (min-width: 769px) {
  p,li,dd {
    line-height: 1.8;
    font-size: 16px;
  }
}

/* sp */
@media (max-width: 768px) {
  p,li,dd {
    line-height: 1.8;
    font-size: calc(var(--comp) * 18);
  }
}