/* custom */
:root {
  /* リキッドの数値（vw） = 現在の画面幅の100%の数値（vw） / カンプの横幅（基準値）* カンプの対象の数値 */
  /* comp */
  --compSp: 100vw / 375;
  /* --compPc: 100vw / 1440; */
  /* color */
  --subColor: #DCF8C0;
  --mainColor: #43964A;
  --deepColor: darkgreen;
  --white: #fff;
  --grayLight: #eee;
  --grayMedium: #aaa;
  --grayDeep: #707070;
  --black: #333;
  --black02: #000;
}

/* custom pc */
@media (min-width: 769px) {
  :root {
    /* fontSize */
    --ttlHero: 80px;
    --ttl01: 30px;
    --ttl02: 25px;
    --ttl03: 22px;
    --medium: 20px;
    --base: 16px;
    /* space */
    --layoutSpace: 60px;
    --contentSpace: 40px;
    --innerSpace: 1152px;
    --mainSpace: 800px;
    --sidebarSpace: calc(100% - var(--mainSpace) - var(--contentSpace));
  }
}

/* custom sp */
@media (max-width: 768px) {
  :root {
    /* fontSize */
    --ttlHero: calc(var(--compSp) * 60);
    --ttl01: calc(var(--compSp) * 24);
    --ttl02: calc(var(--compSp) * 22);
    --ttl03: calc(var(--compSp) * 20);
    --medium: calc(var(--compSp) * 18);
    --base: calc(var(--compSp) * 16);
    /* space */
    --layoutSpace: calc(var(--compSp) * 50);
    --contentSpace: calc(var(--compSp) * 30);
    --innerSpace: calc(var(--compSp) * 15);
  }
}

/* base */
body {
  color: var(--black);
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
  word-break: break-all;
}
img {
  display: block;
  max-width :100%;
  width: 100%;
  height: 100%;
	object-fit: cover;
}
picture {
  display: block;
}
a:hover {
  opacity: .8;
  transition: opacity .4s;
}

/* dispay */
.uPcOnly {
  display: block;
}
.uSpOnly {
  display: none;
}
.uPcOnlyIb {
  display: inline-block;
}
.uSpOnlyIb {
  display: none;
}
/* typo */
p,li,dd,blockquote {
  line-height: 1.8;
  font-size: var(--base);
  font-weight: 400;
}
h1,h2,h3,h4,h5 {
  line-height: 1.6;
  font-weight: 700;
}
