/* pc */
@media (min-width: 769px) {
  .flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .block {
    width: 45%;
    text-align: center;
  }
  .title {
    composes: uH1 from './utils.module.css';
  }
  .subtitle {
    composes: uSubTtl from './utils.module.css';
  }
  .pic {
    width: 55%;
  }
}

/* sp */
@media (max-width: 768px) {
}

