/* pc */
@media (min-width: 769px) {
  .basic {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.15em;
  }
  .box {
    composes: basic;
    display: inline-block;
    padding: min(var(--compPc) * 28, 28px) min(var(--compPc) * 56, 56px);
    background-color: var(--subColor);
    color: var(--mainColor);
  }
}
