/* pc */
@media (min-width: 769px) {
  .flexContainer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--contentSpace);
    gap: 1em;
  }
  .next {
    margin-left: auto;
  }
  .iconText {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: underline;
    color: var(--grayDeep);
  }
}

/* sp */
@media (max-width: 768px) {
  .flexContainer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--contentSpace);
    gap: 1em;
  }
  .next {
    margin-left: auto;
  }
  .iconText {
    display: flex;
    align-items: center;
    gap: 0.5em;
    text-decoration: underline;
  }
}

