@media (min-width: 769px) {
  .flexContainer {
    display: flex;
    align-items: baseline;
    gap: 10px;
    color: var(--grayDeep);
    flex-direction: column;
  }
  .heading {
    font-size: var(--medium);
  }
  .list {
    composes: flexContainer;
    font-size: var(--medium);
    gap: 0.75rem;
  }
}


/* sp */
@media (max-width: 768px) {
  .flexContainer {
    margin-top: var(--contentSpace);
    color: var(--grayDeep);
  }
  .heading {
    font-size: var(--medium);
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--medium);
    gap: 1em;
    margin: 1em 0 0;
  }
  .item {
    line-height: 1;
  }
  .item a {
    text-decoration: underline;
  }
}
