@media(min-width: 769px) {
  .stack {
    padding-top: var(--contentSpace);
  }
  .stack > * + * {
    margin-top: 1.5em;
  }
  .stack iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .stack blockquote {
    position: relative;
    padding: 45px 30px;
    background: var(--grayLight);
  }
  .stack blockquote:before,
  .stack blockquote:after {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../public/blockquote_icon.png) no-repeat center/contain;
    content: "";
  }
  .stack blockquote:before {
    top: 5px;
    left: 10px;
    transform: rotate(180deg);
  }
  .stack blockquote:after {
    bottom: 5px;
    right: 10px;
  }
  .stack blockquote span {
    aspect-ratio: 16/9;
  }
  .stack h2 {
    position: relative;
    padding: 15px;
    font-size: var(--ttl02);
    font-weight: 500;
  }
  .stack h2:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, var(--mainColor) 0%, var(--subColor) 100%);
    content: "";
  }
  .stack h3 {
    padding: 10px 15px;
    border-left: solid 5px var(--mainColor);
    font-size: var(--ttl03);
    font-weight: 500;
    line-height: 1.6;
  }
  .stack h4 {
    font-weight: bold;
  }
  .stack pre:has(code) {
    background: var(--black02);
    color: var(--white);
    overflow-x: scroll;
  }
  .stack pre code {
    display: block;
    padding: 10px;
    line-height: 1.8;
  }
  .stack a {
    color: var(--mainColor);
    text-decoration: underline;
  }
  .stack ul {
    background: var(--grayLight);
    padding: 20px 30px;
    border: dashed var(--grayDeep) 2px;
  }
  .stack li {
    position: relative;
    margin: 0 0 0 1em;
  }
  .stack li + li {
    margin-top: .5em;
  }
  .stack li:before {
    position: absolute;
    top: 52%;
    left: -.5em;
    transform: translate(-100%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--grayDeep);
    background: var(--white);
    content: "";
  }
}

@media(max-width: 768px) {
  .stack {
    padding: var(--contentSpace) 0 0;
  }
  .stack iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .stack blockquote {
    position: relative;
    padding: calc(var(--compSp) * 40) calc(var(--compSp) * 10);
    background: var(--grayLight);
  }
  .stack blockquote:before,
  .stack blockquote:after {
    position: absolute;
    width: calc(var(--compSp) * 30);
    height: calc(var(--compSp) * 30);
    background: url(../public/blockquote_icon.png) no-repeat center/contain;
    content: "";
  }
  .stack blockquote:before {
    top: calc(var(--compSp) * 5);
    left: calc(var(--compSp) * 10);
    transform: rotate(180deg);
  }
  .stack blockquote:after {
    bottom: calc(var(--compSp) * 5);
    right: calc(var(--compSp) * 10);
  }
  .stack blockquote span {
    aspect-ratio: 16/9;
  }
  .stack > * + * {
    margin-top: 1.5em;
  }
  .stack h2 {
    position: relative;
    padding: calc(var(--compSp) * 15);
    font-size: var(--ttl02);
    font-weight: 500;
  }
  .stack h2:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(var(--compSp) * 5);
    background-image: linear-gradient(to right, var(--mainColor) 0%, var(--subColor) 100%);
    content: "";
  }
  .stack h3 {
    padding: calc(var(--compSp) * 10) calc(var(--compSp) * 15);
    border-left: solid calc(var(--compSp) * 5) var(--mainColor);
    font-size: var(--ttl03);
    font-weight: 500;
    line-height: 1.6;
  }
  .stack h4 {
    font-weight: bold;
  }
  .stack pre:has(code) {
    background: var(--black02);
    color: var(--white);
    overflow-x: scroll;
  }
  .stack pre code {
    display: block;
    padding: calc(var(--compSp) * 10);
    line-height: 1.8;
  }
  .stack a {
    color: var(--mainColor);
    text-decoration: underline;
  }
  .stack ul {
    background: var(--grayLight);
    padding: calc(var(--compSp) * 20) calc(var(--compSp) * 30);
    border: dashed var(--grayDeep) calc(var(--compSp) * 2);
  }
  .stack li {
    position: relative;
    margin: 0 0 0 1em;
  }
  .stack li + li {
    margin-top: .5em;
  }
  .stack li:before {
    position: absolute;
    top: 52%;
    left: -.5em;
    transform: translate(-100%, -50%);
    width: calc(var(--compSp) * 10);
    height: calc(var(--compSp) * 10);
    border-radius: 50%;
    border: 1px solid var(--grayDeep);
    background: var(--white);
    content: "";
  }
}
