/* pc */
@media (min-width: 769px) {
  .title {
    font-size: var(--ttl01);
    font-weight: 700;
    position: relative;
    padding: 15px;
    background: var(--subColor);
    color: var(--mainColor);
  }
  .title:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid var(--subColor);
    width: 0;
    height: 0;
  }
  .publish {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
    margin: .5em 0 0;
    color: var(--grayDeep);
  }
  .pic {
    margin-top: var(--contentSpace);
    aspect-ratio: 16 /9;
  }
}

/* pc */
@media (max-width: 768px) {
  .title {
    font-size: var(--ttl01);
    font-weight: 700;
    position: relative;
    padding: calc(var(--compSp) * 15);
    background: var(--subColor);
    color: var(--mainColor);
  }
  .title:before {
    position: absolute;
    content: '';
    top: 100%;
    left: calc(var(--compSp) * 30);
    border: calc(var(--compSp) * 15) solid transparent;
    border-top: calc(var(--compSp) * 15) solid var(--subColor);
    width: 0;
    height: 0;
  }
  .publish {
    display: flex;
    justify-content: flex-end;
    gap: .5em;
    margin: .5em 0 0;
    color: var(--grayDeep);
  }
  .pic {
    margin: calc(var(--compSp) * 30) 0 0;
    aspect-ratio: 16 /9;
  }
}
